# Dependencies
node_modules
.pnpm-store

# Production
dist
build

# Environment Variables
.env
.env.local
.env.production

# Database
*.db
*.sqlite
data/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvsopt
*.njsproj
*.sln
*.sw?
.DS_Store
